* {
  margin: 0px;
}

.main {
  background: lightgray;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 750px;
  align-content: center;
}

.box {
  margin: 10px;
  padding: 35px;
  color: white;
  background: orangered;
  font-size: 30px;
}

.b2 {
}

.b4 {
}
